.row--faux-banner
%input{type: "checkbox", id: 'nav--primary__trigger', class: "is-hidden"}
%label{for: 'nav--primary__trigger', class: 'nav--primary__trigger icon--hamburger icon--white js-toggle-active', 'data-toggle-target' => 'body', 'data-toggle-class' => 'show-nav'}

%a.media--lp-logo.logo--header.icon--lp-logo.icon--white(href='http://www.lonelyplanet.com' title='Return to homepage')

.nav-container.m-hidden-menu

  .wv--split--right

    .wv--nav--inline.split--right__inner.nav--user

      - if defined?(search) && show_nav_section(search)
        = render "layouts/core/snippets/search"

      - if defined?(user_nav) && show_nav_section(user_nav)
        = render "layouts/core/snippets/user_nav", show_js: show_js

  .wv--split--left

    .wv--nav--inline.nav--primary#js-nav--primary{role: "navigation", aria: {label:"Primary navigation"}}
      - if defined?(nav_primary) && show_nav_section(nav_primary)
        = render "layouts/core/snippets/nav_primary"
