%nav.nav__item.wv--nav--inline.nav--primary--user.js-user-nav.split--right__inner{ role: "navigation", title: "User navigation", aria: { label: "User navigation" }, itemscope: "itemscope", itemtype: "http://schema.org/SiteNavigationElement" }
  %h6.accessibility User navigation
  %a.nav__item.nav__item--primary.nav__item--user.user-basket.js-user-basket.js-nav-cart{ href: 'http://shop.lonelyplanet.com/cart/view' }
    %span.user-basket__icon.icon--shop-basket.icon--white(itemprop="name")
      View Basket
    - if include_js
      %script#js-user-nav-template{ type: "text/mustache" }
        = render "templates/global-nav/user_nav"

    %noscript
      .nav__item.nav__item--user
        %a.nav__item.nav__item--primary.js-nav-item{ href: "https://www.lonelyplanet.com/thorntree/my_account" }(itemprop="url")
          %i.nav__icon.icon--user--before.icon--white--before
          %span(itemprop="name")
          My account
