.nav--inline
  - if properties[:show_label?]
    %span.sharing__label.nav__item Send this

  .nav__item.sharing__nav__item
    %a.sharing__icon.icon--print.tooltip--trigger{href:"#", onclick: "javascript:window.print();return false;"}
      %span.tooltip.tooltip--above Print
  
  .nav__item.sharing__nav__item
    %a.sharing__icon.icon--email.tooltip--trigger{href: "mailto:?subject=#{properties[:page_title]}&body=#{properties[:url]}", data: {lpa_category: "share", lpa_action: "email", lpa_label: "#{properties[:url]}"}}
      %span.tooltip.tooltip--above Email
