.widget__flickr  
  .copy--h1
    = properties.tag
  .grid-wrapper--10
    - count = 0
    - properties.data.comments.each_pair do |id, entry|    
      - if ( count == 0 )
        - entry["size"] = "double"
        - entry["user"] = {image: entry["owner_image"], name: entry["owner_name"], theme: "light", size: "small"}
      - elsif ( count > 0 and count <= 2 )
        - entry["size"] = "single"
        - entry["user"] = {name: entry["owner_name"], theme: "light", size: "small"}
      - elsif ( count > 2 )
        - entry["size"] = "mini"
        - entry["user"] = {name: entry["owner_name"], theme: "light", size: "small"}

      - entry["position"] = count + 1                

      - count = count + 1
      - if (count > num_items)
        - break

      = ui_component("cards/image_card", { properties: entry })              
