.map__poi-list.js-poi-list
  .nearby-pois
    %ul.nearby-pois__list
      - pois[0,5].each do |poi|
        %li.obj-list__item.nearby-pois__poi.js-poi{:class => "icon--#{poi[:topic]}--pin--before", :data => poi}
          %a.copy--h4{:href => "/#{poi[:slug]}"}
            = poi[:name]
          .nearby-pois__poi__description
            %p
              = poi[:description]

