- responsive_items = properties[:responsive_items]

.nav--secondary__container
  -# The secondary navigation for small screens
  .nav--secondary.nav__tabs.wv--hidden-block
    .grid-wrapper--0
      .col--one-half
        %a.btn.btn--white.nav__tabs__btn.is-active.js-toggle-active.js-secondary-nav-toggles{ href: "#", data: { toggle_target: ".js-secondary-nav-toggles" } }
          - if !!responsive_items
            = (responsive_items.find {|i| i[:current]} || responsive_items.first)[:title]
          - else
            = (properties[:items].find {|i| i[:current]} || properties[:items].first)[:title]
      .col--one-half
        %a.btn.btn--white.nav__tabs__btn.js-toggle-active.js-secondary-nav-toggles{ href: "#", data: { toggle_target: ".js-secondary-nav-toggles" } }
          Other sections

  %nav.wv--split--right.wv--block.nav--inline.nav--secondary.js-secondary-nav-toggles(role="navigation" aria-label="Category navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement")
    %h6.accessibility Category navigation
    %div{ class: !!responsive_items ? "wv--block" : "" }
      = render :partial => "components/navigation/secondary_items", locals: { items: properties[:items] }
    - if !!responsive_items && responsive_items.length > 0
      .wv--hidden-block
        = render :partial => "components/navigation/secondary_items", locals: { items: responsive_items }
