// ----------------------------------------------------------------------------
//
// Row secondary
//
// ----------------------------------------------------------------------------

.row--secondary
  background: #fff
  .wv--split--right
    .responsive &
      +respond-to(400)
        float: right
        text-align: right
  .responsive &
    background: none
    +respond-to(wide-view)
      background: #fff

.row__inner--secondary
  padding-top: 32px
  .responsive &
    padding-top: 15px
    +respond-to(wide-view)
      width: $fixed-layout-width
      margin: 0 auto
      padding-top: 32px

.row__title--secondary
  margin-bottom: 15px
  max-width: 340px
  .responsive &
    max-width: 100%
    margin-bottom: 20px
    padding: 4px 0
    +respond-to(400)
      max-width: 70%
      float: left
      margin-bottom: 0
    +respond-to(medium-view)
      max-width: 340px
    +respond-to(wide-view)
      +vertically-center(30)
      padding: 0
  &:hover
    max-width: none

.row__title--secondary__full
  width: 100%

// ----------------------------------------------------------------------------
//
// Secondary Navigation
//
// ----------------------------------------------------------------------------

.nav--secondary
  +font-size(13)
  @extend %subpixel-text
  +font-size(14)

.nav--secondary__dropdown
  box-sizing: border-box
  width: 100%
  +respond-to(400)
    width: auto
  +respond-to(wide-view)
    margin-left: 10px
  .dropdown__value
    background-color: white
    +font-size(16)

.nav__item--secondary
  +font-size(14)
  color: $titlegray
  padding: 6px 8px 18px
  text-transform: uppercase
  &:active, &:hover, &.current
    color: $lpblue
  &.current
    border-bottom: 2px solid $lpblue
    font-weight: bold
