.wrapper--footer.js-wrapper
  = render 'layouts/core/snippets/body_footer', show_js: show_js

.js-config.is-hidden
  %script{type: "text/javascript", async: true, src: "#{normalised_asset_path('requirejs/require.js')}", data: {main: "#{async_js_path("app_core_legacy")}"}}
