= render 'styleguide/partials/shared'
- alerts = YAML.load(File.read(File.expand_path('../../../../data/styleguide/alert_stubs.yml', __FILE__)))

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Alerts

- alerts['alerts'].each_with_index do |alert, i|
  = styleguide_component("alert", properties: alert, count: i, full_width: true)
