= render 'styleguide/partials/shared'

- require "ostruct"
- sliders = YAML.load(File.read(File.expand_path('../../../../data/styleguide/slider_stubs.yml', __FILE__)))

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Slider
  %p
    Responsive image slider component

  %h2.copy--h2 Javascript Parameters
  %p
    %code
      showSliderControls:
    true by default. You can hide the controls in the slider with this parameter when the slider is created.

  %pre.styleguide.copy--body.language-javascript
    %code
      :escaped
        new Slider({ el: ".js-slider", showSliderControls: false });

- sliders.each_with_index do |slider, i|
  = sg_component("slider", properties: slider, count: i, card_style: true, full_width: true)
