// -----------------------------------------------------------------------------
//
// Card page module
//
// Full width containers for page sections
//
// -----------------------------------------------------------------------------

$card--page-padding-y: 16px
$card--page-padding-x: 25px

.card--page
  border-radius: 4px

  .row__inner--full-width &
    border-radius: 0
    +respond-to(wide-view)
      border-radius: 4px

.card--top-choice
  &:after
    @extend %empty-abs-generated-content
    background: url(image_path("shared/top-choice.png"))
    top: -5px
    left: 20px
    height: 96px
    width: 66px
    +retinafy()
      background: url(image_path("shared/top-choice-2x.png"))
      background-size: 100%

// -----------------------------------------------------------------------------
//  Hero
// -----------------------------------------------------------------------------

.card--page__hero
  position: relative
  overflow: hidden
  height: 300px
  border-radius: 4px 4px 0 0
  .responsive &
    height: 200px
    border-radius 0
    +respond-to(wide-view)
      height: 300px
      border-radius: 4px 4px 0 0
  &:after
    @extend %empty-abs-generated-content
    +image-overlay--gradient($stop: 50%)
    top: 0
    left: 0
    width: 100%
    height: 100%

  > img
    width: 100%

.card--page__hero-content
  +z-layer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  padding: $card--page-padding-y $card--page-padding-x
  color: white

.card--page__hero-cta
  float: right
  white-space: nowrap

.card--page__hero-name
  +font-size(32)

// -----------------------------------------------------------------------------
//  Header
// -----------------------------------------------------------------------------

.card--page__header
  padding: $card--page-padding-y $card--page-padding-x
  .copy--h1
    line-height: 1.1em
    margin: 0
  .card--top-choice &
    min-height: 40px
    padding-left: 95px

.card--page__header--headline
  padding-top: $card--page-padding-x
  padding-bottom: $card--page-padding-x

.card--page__breadcrumb
  position: relative
  margin: 10px 0 0
  line-height: 25px
  text-transform: uppercase
  &:before
    +z-layer(middle)
    content: ''
    float: left
    height: 20px
    margin-right: 5px
    position: relative
    top: 2px
    width: 15px
  &.icon--place--pin--before
    line-height: initial
    &:before
      width: 20px

.card--page__breadcrumb--type
  font-weight: bold

.card--page__breadcrumb__link
  color: $body-copy

// -----------------------------------------------------------------------------
//  Content rows
// -----------------------------------------------------------------------------

.card--page__content
  @extend %clearfix
  padding: $card--page-padding-y $card--page-padding-x

  .card--page__header + &
    border-top: 1px solid $body-background

.card--page__fill
  .responsive &
    margin-left: $card--page-padding-x * -1
    margin-right: $card--page-padding-x * -1
    +respond-to(medium-view)
      margin-left: auto
      margin-right: auto

// We cannot guarantee that the content will be decorated with classes
.card--page__content--intro
  @extend %text--body
  p:first-of-type
    @extend %text--feature
  h2
    @extend %heading--2

.card--page__content--social
  padding-top: 0
  padding-bottom: 0

  .card--page__header + &
    border-bottom: 1px solid $body-background

  .card--page__content + &
    border-top: 1px solid $body-background

// -----------------------------------------------------------------------------
//  Related
// -----------------------------------------------------------------------------

.card--page__related
  border-radius: 0 0 4px 4px
  .responsive &
    border-radius: 0
    +respond-to(wide-view)
      border-radius: 0 0 4px 4px
