.card.card--no-image.card--sponsored.card--sponsored--mpu.js-card.js-card-sponsored.card--double
  .tag--horizontal.tag--horizontal--left
    Advertisement
  .card__content
    .ad-mpu
      = ui_component('ads/mpu', properties: { size: { mapping: properties[:double?] ? "mpu-double" : "mpu" }, extension: properties[:double?] ? "stackMPU" : nil, targeting: { position: properties[:position] } })
