.lightbox
  +z-layer(top)
  background: $body-background
  background: rgba($body-background, 0.95)
  left: 0
  opacity: 0
  position: fixed
  transition: 300ms opacity ease-out
  top: 0px
  visibility: hidden

  &.is-visible
    visibility: visible

  &.is-active
    opacity: 1


    .lightbox__content
      > iframe
        display: block

.lightbox__wrapper
  -webkit-overflow-scrolling:touch
  overflow-y: scroll
  overflow-x: hidden
  height: 100%
  width: 100%

.lightbox__content
  margin: auto
  position: relative
  transition: transform 300ms ease-out, opacity 100ms
  transform: translate3d(0px, 1000px, 0px)
  opacity: 0
  width: 600px
  .lightbox__close
    height: 25px
    width: 25px
    position: absolute
    right: .5em
    top: .5em
    &:hover
      +icon-color(body-grey)

  .preloader
    visibility: hidden

  .content-ready &
    transition: transform 300ms ease-out, opacity 500ms
    transform: translate3d(0px, 0px, 0px)
    opacity: 1
    padding-bottom: 50px

  .lightbox--layer &
    width: 800px

  .is-loading &
    @extend %rounded-corners
    @extend %large-shadow
    width: 90px
    transform: translate3d(0px, 0px, 0px)
    transition: transform 300ms ease-out, opacity 500ms
    top: 45%
    height: 50px
    background-color: #FFF
    opacity: 1
    .preloader
      visibility: visible

  > iframe
    background: black
    border: 0
    display: none
    height: 100%
    width: 100%

.lightbox--noscroll
  overflow: hidden

