// -----------------------------------------------------------------------------
// Related
// -----------------------------------------------------------------------------

.related
  box-sizing: border-box
  padding: 40px 20px
  background: $high-contrast-bg
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .15)

.related__articles,
.related__guides
  display: inline-block
  vertical-align: top

.related__articles
  margin-bottom: 20px
  padding-bottom: 10px
  +respond-to(narrow-view)
    margin-bottom: 0
    padding-bottom: 0

.related__list--articles
  border-bottom: 1px solid $high-contrast-fg
  margin-bottom: 20px
  +respond-to(medium-view)
    border-bottom: none
    margin-bottom: 0

.related__list-title
  +font-size(24)
  color: white
  padding-bottom: 1em
  margin-bottom: .5em
  .related__articles &
    border-bottom: 1px solid $high-contrast-fg
  .related__guides &
    margin-bottom: 0

.related__list-number
  +font-size(16)
  color: $subduedgray
  &:before
    content: "("
  &:after
    content: ")"

.related__btn
  text-shadow: none

.related__list-link
  +font-size(16)
  display: block
  color: $subduedgray
  padding-bottom: 0

.related__list-item--guide
  width: 75px
  display: inline-block
  position: relative
  vertical-align: top
  &:not(:last-child)
    margin-right: 20px
  +respond-to(medium-view)
    width: 95px

.related__list-date
  +font-size(14)
  display: block
  padding-bottom: 1em
  font-style: italic
  line-height: 1.5
  color: $high-contrast-fg
