// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------

.slider
  position: relative

.slider__viewport
  overflow: hidden

.slider__container
  @extend %transition--base
  -ms-scroll-chaining: none
  position: relative

  .slider--16x9 &
    +intrinsic-ratio(16, 9)

  .slider--4x3 &
    +intrinsic-ratio(4, 3)

.slider__slide
  +hardware-acceleration()
  position: absolute
  top: 0
  display: none
  width: 100%
  height: 100%
  transition: transform .2s ease-in-out, left .2s ease-in-out
  &.is-previous-previous,
  &.is-previous,
  &.is-next,
  &.is-next-next
    +z-layer(default)
    cursor: pointer
    display: block
  &.is-current
    +z-layer(middle)
    display: block
  .supports-transform &
    &.is-previous-previous
      transform: translateX(-200%)
    &.is-previous
      transform: translateX(-100%)
    &.is-current
      transform: translateX(0)
    &.is-next
      transform: translateX(100%)
    &.is-next-next
      transform: translateX(200%)
  .no-transform-support &
    &.is-previous-previous
      left: -200%
    &.is-previous
      left: -100%
    &.is-next
      left: 100%
    &.is-next-next
      left: 200%

.slider__img
  +best-fit-media

.slider__controls
  @extend %clearfix
  @extend %transition--base
  +z-layer(top)
  position: absolute
  overflow: hidden
  display: none
  width: 100%
  height: 100%
  .slider__show-controls &
    display: initial

.slider__control
  +font-size(14)
  @extend %transition--base
  background: $body-copy
  background: rgba(0, 0, 0, .65)
  color: white
  font-weight: bold
  line-height: 1.66em
  opacity: 0.5
  padding: 10px 40px
  margin-top: -1.15em
  position: absolute
  top: 50%

  &:hover
    opacity: 1
    text-decoration: none
  &:before, &:after
    @extend %transition--base
    width: 2em
    height: 2em
    display: inline-block
    font-weight: normal
    margin-top: -0.2em
    position: absolute
    vertical-align: top

.slider__control--prev
  left: -70px
  padding-left: 30px
  &:after
    right: .35em
  &:hover
    left: 0
  .at-beginning &
    display: none

.slider__control--next
  right: -70px
  padding-right: 30px
  &:before
    left: .35em
  &:hover
    right: 0
  .at-end &
    display: none
