- properties = properties || {}
.adunit.adunit--leaderboard{ id: properties[:id] || "js-ad-leaderboard-#{Time.now.to_i}", data: { size: { mapping: properties[:size] || "leaderboard" }, extension: properties[:extension] || nil, targeting: properties[:targeting] || nil, context: properties[:context] || nil } }
