- properties = properties || {}
.adunit.adunit--mpu{ id: properties[:id] || "js-ad-mpu-#{Time.now.to_i}", data: { size: { mapping: properties[:size] || "mpu" }, extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
