:ruby

  attrs = {
    size: { mapping: "mpu" },
    targeting: { position: nil },
    extension: nil
  }

  attrs.merge!(properties) if defined? properties

.adunit.adunit--mpu{ id: "js-ad-mpu-#{Time.now.to_i}", data: attrs }
