:ruby

  attrs = {
    id: "js-ad-mpu-#{Time.now.to_i}",
    data: {
      size: { mapping: "mpu" },
      targeting: { position: nil },
      extension: nil
    }
  }

  attrs.merge!(properties) if properties

.adunit.adunit--mpu{ id: attrs[:id], data: attrs[:data] }
