- properties = properties || {}
.adunit.adunit--sponsortile{ id: properties[:id] || "js-ad-sponsorTile-#{Time.now.to_i}", data: { size: { mapping: properties[:size] || "sponsor-tile" }, extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
