:ruby

  attrs = {
    size: { mapping: "sponsor-tile" },
    targeting: { position: nil },
    extension: nil
  }

  attrs.merge!(properties) if defined? properties

.adunit.adunit--sponsortile{ id: "js-ad-sponsorTile-#{Time.now.to_i}", data: attrs }
