:ruby

  attrs = {
    size: { mapping: "traffic-driver" },
    targeting: { position: nil },
    extension: nil
  }

  attrs.merge!(properties) if defined? properties

.adunit.adunit--traffic-driver{ id: "js-ad-trafficDriver-#{Time.now.to_i}", data: attrs }
