// -----------------------------------------------------------------------------
// [doc]
//
// Enable styles at a certain viewport
//
// Always use this mixin to apply breakpoints so we can support legacy browsers.
//
// You can pass in named arguments or integers.
// Named argument options are: narrow-view (360px), medium-view (600px) and wide-view(1025px).
//
// Example of use: http://sassmeister.com/gist/8047633.
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin respond-to($screen-width, $fallback: true)

  // We have to set up a blank variable here or sass errors out
  $breakpoint: ''

  @if $screen-width == narrow-view
    $breakpoint: 360
  @else if $screen-width == medium-view
    $breakpoint: 600
  @else if $screen-width == wide-view
    $breakpoint: 980
  @else if $screen-width == larger-than-ipad
    $breakpoint: 1025
  @else
    $breakpoint: $screen-width

  @if $is-ie == false
    @media only screen and (min-width : #{$breakpoint}px)
      @content
  @else if $fallback
    @content

// -----------------------------------------------------------------------------
// [doc]
//
// Calculate padding for a proportional wrapper
//
// Force an intrinsic ratio based on the width of the containing block to used as a
// wrapper for fixed aspect-ratio content.
//
// More information: http://alistapart.com/article/creating-intrinsic-ratios-for-video
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin intrinsic-ratio($ratioX, $ratioY)
  padding-top: percentage((1 / $ratioX) * $ratioY)

// -----------------------------------------------------------------------------
// [doc]
//
// Best fit media to a fixed size wrapper
//
// Uses transforms (where available) to 'best fit' an image or video element to it's
// container. Best used with the intrinsic ratio mixin.
//
// Example of use: http://codepen.io/anon/pen/urhmI
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin best-fit-media
  position: absolute
  .no-transform-support &
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    min-height: 100%
    max-height: 100%
  .supports-transform &
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)
